<div class="band">
  <img src="" alt="top_sp" class="sp">
  <div class="name-band">
    <img src="" alt="top_pc" class="pc">
    <img src="" alt="top_sp" class="sp">
  </div>
</div>

<div class="container">
  <div class=""></div>
</div>