/*
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";
@import "compass";

.table {
  display: table;
}

.it {
  display: inline-table;
}

.rg {
  display: table-row-group;
}

.hg {
  display: table-header-group;
}

.fg {
  display: table-footer-group;
}

.tr {
  display: table-row;
}

.cg {
  display: table-column-group;
}

.tc {
  display: table-cell
}

.tcap {
  display: table-caption
}

/* 必要なら以下のようにタグ名に近いクラスを再定義 */
.th, .td {
  display: table-cell;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.collapse ul li{
  margin: 10px;
  font-size: 120%;
}

.fa-3 {
  font-size: 4em;
  align:center;
}

.placeholder{
  // background-color: #78a7e0;
  // height: 00px;
  margin: 20px;
}

.text-muted{
  text-justify:newspaper;
}

/* ===slider==================================================== */
.sp-button {
  border: 2px solid #ccc;
}

.sp-selected-button {
  background-color: #ccc;
}

.sp-next-arrow:before {
  font-family: FontAwesome !important;
  content: '\f105' !important;
}

.sp-previous-arrow:before {
  font-family: FontAwesome !important;
  content: '\f104' !important;
}

.aaa{
  position: relative;
  // top:-370px;
  top:-90px;
  font-size: 100px;
  padding: 10px 0 10px 0;
  color: white;
  background-color: black;
  opacity: 0.7;
}

/* ===fotter==================================================== */
// fotter{
//   display: block;
// }

/* ===index==================================================== */
.sidebar {
  position: relative;
  // top: 51px;
  bottom: 0;
  left: 0;
  // z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.ib {
  display: inline-block;
}

/* ===login==================================================== */

/* ===logout==================================================== */

/* ===plans index==================================================== */
.table_tit, .table_img, .table_text {
  padding: 5px;
}

.table_text {
  margin: 0 15px 30px 15px;
}

/* ===plane edit==================================================== */

/* ===plans new==================================================== */

/* ===plans show==================================================== */
// .show_co {
//   margin-top: 100px;
// }

.plan_body {
  margin: 20px;
}

.bs_boader {
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;

}

/* ===pay==================================================== */

/* ======================================================= */
