<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">現在募集中のプラン</h1>
    <div class="text-center"><%= link_to('あなたのオリジナルプランを作成しましょう!', new_plan_path, class: "btn btn-primary", style: "color: #fff;") %></div>
  </div>
  <div class="row">
    <% if @area %>
      <% @categories.each do |category| %>
        <h2><%= category.name %></h2>
        <% category.plans.first(5).each do |plan| %>
          <%= render partial: 'plan', locals: {plan: plan} %>
        <% end %>
      <% end %>
    <% else %>
      <% @plans.each do |plan| %>
        <%= render partial: 'plan', locals: {plan: plan} %>
      <% end %>
    <% end %>
  </div>
</div>
