<div class="container" style="margin-top:80px;">
  <h1 class="text-center">Find your best Triplan!</h1>

  <%= link_to 'Create', new_plan_path, class: "btn btn-primary" %>
  <% if @area %>
      <% @categories.each do |category| %>
          <h2><%= category.name %></h2>
          <% category.plans.first(3).each do |plan| %>
              <%= render partial: 'plan', locals: {plan: plan} %>
          <% end %>
      <% end %>
  <% else %>
      <%= render @plans %>
  <% end %>
</div>
</div>
