<div class="container" style="margin-top:80px;">
  <h1 class="text-center">Make a TriPlan</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
  <p class="text-center">
    <%= link_to '一覧に戻る', plans_path, class: "btn btn-default" %>
  </p>
</div>
