<footer class="bg_footer">
  <div class="menu-footer">
    <p><small>&copy;2015 PLAN</small></p>
  </div>
  <div style="margin: 0 auto;width: 960px;"><%= debug(params) if Rails.env.development? %></div>
</footer>