<footer class="bg_footer">
  <div class="menu-footer" align="center"  style="background-color :#78a7e0; , color: #FAFAFA;;">
    <p><small><br>&copy;2015 Triplan<br><br></small></p>
  </div>
  <div style="margin: 0 auto;width: 960px;"><%= debug(params) if Rails.env.development? %></div>
</footer>
