<header class="clear-fix">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <img src="img/menu.png" width="24" height="18">
        </button>
        <a class="navbar-brand" href="index.html">
          <h1>PLAN</h1>
          <!-- <img src="img/logo.png" alt="" height="25" width="50" > -->
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">TOP</a></li>
          <li><a href="mypage.html">SIGN UP</a></li>
          <li><a href="login.html">LOG IN</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</header>